.nav {
  width: 100%;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-project);
  /* position: relative; */
  /* z-index: 999; */
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-menu {
  display: none;
}

.header-title {
  font-family: var(--font-title);
  font-size: var(--text-lg);
}

.header-link {
  font-family: var(--font-title);
  font-weight: 600;
}

@media (min-width: 360px) {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .header-bar {
    display: none;
  }

  .nav {
    padding: 1em 2em;
    margin-bottom: 3rem;
  }

  .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .header-title {
    font-size: var(--text-xl);
  }

  .header-link {
    font-size: var(--text-base);
  }

  .header-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding: 1.5em 5em;
    margin-bottom: 4rem;
  }

  .header-menu {
    gap: 2em;
  }
}
